#productsImages {
    width: 100%;
    text-align: center;
   
}

header h1 {
    margin: auto;
    display: block;
    text-align: center;
    font-family: "sofia";
}

/*#Results {
    width: 25%;
    border: 2px solid black;
}*/

/*ul {
    
    font-weight: bold;
  
}

li {
    display: block;
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 5px;
    font-weight: lighter;
    

}*/


section div {
    margin-top:70px;
    display: inline-block;
    width: 33%;
   
    
}

section div img {
    width: 60%;
    height: 60%;
    text-align: center;   
}




  
 h2 {
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 }

 p {
     width: 100%;
     margin-left: 427px;
 }

 
    
 